@model IEnumerable<EmployeeIndexViewModel>


@{
    ViewBag.Title = "Employees";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav arial-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Employee
                        </li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>Employee No</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Designation</th>
                                    <th>City</th>
                                    <th>Joined</th>
                                    <th class="text-warning">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-controller="Employee" asp-route-id="@item.Id">
                                                @item.EmployeeNo
                                            </a>
                                        </td>
                                        <td><img src="@Url.Content(item.ImageUrl)" alt="image" /></td>
                                        <td>@item.FullName</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Designation</td>
                                        <td>@item.City</td>
                                        <td>@item.DateJoined</td>
                                        <td>
                                            <a asp-controller="Employee" asp-action="Detail" asp-route-id="@item.Id" class="text-success"><i class="fas fa-bars"></i>Detail</a>
                                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fas fa-edit"></i>Edit</a>
                                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-strash-alt"></i>Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>